# Basic Statistics Case Study

# Business Problem-1

### BACKGROUND:
The Lending Club is a peer-to-peer lending site where members make loans to
each other. The site makes anonymized data on loans and borrowers publicly available.
### BUSINESS PROBLEM:
Using lending club loans data, the team would like to test below hypothesis on how different factors effecing each other (Hint: You may leverage hypothesis testing using statistical tests)

    a. Intrest rate is varied for different loan amounts (Less intrest charged for high loan
    amounts)
    b. Loan length is directly effecting intrest rate.
    c. Inrest rate varies for different purpose of loans.
    d. There is relationship between FICO scores and Home Ownership. It means that, People
    with owning home will have high FICO scores.

### DATA AVAILABLE:
The data have the following variables (with data type and explanation of meaning)

     Amount.Requested - numeric. The amount (in dollars) requested in the loan application.
     Amount.Funded.By.Investors - numeric. The amount (in dollars) loaned to the individual.
     Interest.rate – character. The lending interest rate charged to the borrower.
     Loan.length - character. The length of time (in months) of the loan.
     Loan.Purpose – categorical variable. The purpose of the loan as stated by the applicant.
     Debt.to.Income.Ratio – character. The % of consumer’s gross income going toward paying
    debts.
     State - character. The abbreviation for the U.S. state of residence of the loan applicant.
     Home.ownership - character. Indicates whether the applicant owns, rents, or has a
    mortgage.
     Monthly.income - categorical. The monthly income of the applicant (in dollars).
     FICO.range – categorical (expressed as a string label e.g. “650-655”). A range indicating the
    applicants FICO score.
     Open.CREDIT.Lines - numeric. The number of open lines of credit at the time of
    application.
     Revolving.CREDIT.Balance - numeric. The total amount outstanding all lines of credit.
     Inquiries.in.the.Last.6.Months - numeric. Number of credit inquiries in the previous 6
    months.
     Employment.Length - character. Length of time employed at current job.
    

#### Importing Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
from scipy import stats

%matplotlib inline

# Data Cleaning

In [3]:
loan_data = pd.read_csv('LoansData.csv')
loan_data.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20000.0,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [4]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Amount.Requested                2499 non-null   float64
 1   Amount.Funded.By.Investors      2499 non-null   float64
 2   Interest.Rate                   2498 non-null   object
 3   Loan.Length                     2500 non-null   object
 4   Loan.Purpose                    2500 non-null   object
 5   Debt.To.Income.Ratio            2499 non-null   object
 6   State                           2500 non-null   object
 7   Home.Ownership                  2499 non-null   object
 8   Monthly.Income                  2499 non-null   float64
 9   FICO.Range                      2498 non-null   object
 10  Open.CREDIT.Lines               2497 non-null   float64
 11  Revolving.CREDIT.Balance        2497 non-null   float64
 12  Inquiries.in.the.Last.6.Months  2497 non-null   float64
 13  Employment.Length               2423 non-null   object
dtypes: float64(6), object(8)
memory usage: 273.6+ KB

In [5]:
loan_data['Interest.Rate']=loan_data['Interest.Rate'].str.strip('%').astype(float)

In [6]:
loan_data.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20000.0,20000.0,8.90,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.0,12.12,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.0,21.98,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.0,9.99,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.0,11.71,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [7]:
loan_data['Loan.Length.Month']=loan_data['Loan.Length'].str.split(' ').str[0].astype(float)

In [8]:
loan_data.drop('Loan.Length', axis=1, inplace=True)

In [9]:
loan_data.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,Loan.Length.Month
0,20000.0,20000.0,8.90,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year,36.0
1,19200.0,19200.0,12.12,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years,36.0
2,35000.0,35000.0,21.98,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years,60.0
3,10000.0,9975.0,9.99,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years,36.0
4,12000.0,12000.0,11.71,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years,36.0

In [10]:
loan_data[loan_data['Amount.Requested'].isnull()]

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,Loan.Length.Month
2487,NaN,15000.0,NaN,wedding,18.05%,CA,RENT,8000.0,660-664,6.0,45976.0,1.0,2 years,36.0

In [11]:
loan_data.at[2487, 'Amount.Requested'] = 15000

In [12]:
loan_data[loan_data['Amount.Funded.By.Investors'].isnull()]

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,Loan.Length.Month
2490,10000.0,NaN,11.71,debt_consolidation,8.40%,CA,RENT,4500.0,710-714,8.0,8404.0,1.0,3 years,36.0

In [13]:
loan_data.at[2490, 'Amount.Funded.By.Investors'] = 10000

In [14]:
loan_data[loan_data['Interest.Rate'].isnull()]

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,Loan.Length.Month
2484,15000.0,15000.0,NaN,credit_card,28.28%,OH,MORTGAGE,6666.67,690-694,15.0,14880.0,0.0,10+ years,36.0
2487,15000.0,15000.0,NaN,wedding,18.05%,CA,RENT,8000.00,660-664,6.0,45976.0,1.0,2 years,36.0

In [15]:
loan_data.drop(2484, axis=0, inplace=True)
loan_data.drop(2487, axis=0, inplace=True)

In [16]:
loan_data.isnull().sum()

Amount.Requested                   0
Amount.Funded.By.Investors         0
Interest.Rate                      0
Loan.Purpose                       0
Debt.To.Income.Ratio               1
State                              0
Home.Ownership                     1
Monthly.Income                     1
FICO.Range                         2
Open.CREDIT.Lines                  3
Revolving.CREDIT.Balance           3
Inquiries.in.the.Last.6.Months     3
Employment.Length                 77
Loan.Length.Month                  0
dtype: int64

In [17]:
loan_data[loan_data['Debt.To.Income.Ratio'].isnull()]

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,Loan.Length.Month
2492,6400.0,6350.0,10.08,debt_consolidation,NaN,NJ,NaN,5166.67,710-714,5.0,5815.0,2.0,10+ years,36.0

In [18]:
loan_data.drop(2492, axis=0, inplace=True)

In [19]:
loan_data.drop('Employment.Length', axis=1, inplace=True)

In [20]:
loan_data.isnull().sum()

Amount.Requested                  0
Amount.Funded.By.Investors        0
Interest.Rate                     0
Loan.Purpose                      0
Debt.To.Income.Ratio              0
State                             0
Home.Ownership                    0
Monthly.Income                    1
FICO.Range                        2
Open.CREDIT.Lines                 3
Revolving.CREDIT.Balance          3
Inquiries.in.the.Last.6.Months    3
Loan.Length.Month                 0
dtype: int64

In [21]:
loan_data.dropna(inplace=True)

In [22]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2490 entries, 0 to 2499
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Amount.Requested                2490 non-null   float64
 1   Amount.Funded.By.Investors      2490 non-null   float64
 2   Interest.Rate                   2490 non-null   float64
 3   Loan.Purpose                    2490 non-null   object
 4   Debt.To.Income.Ratio            2490 non-null   object
 5   State                           2490 non-null   object
 6   Home.Ownership                  2490 non-null   object
 7   Monthly.Income                  2490 non-null   float64
 8   FICO.Range                      2490 non-null   object
 9   Open.CREDIT.Lines               2490 non-null   float64
 10  Revolving.CREDIT.Balance        2490 non-null   float64
 11  Inquiries.in.the.Last.6.Months  2490 non-null   float64
 12  Loan.Length.Month               2490 non-null   float64
dtypes: float64(8), object(5)
memory usage: 272.3+ KB

In [23]:
loan_data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Amount.Requested,2490.0,NaN,NaN,NaN,12408.955823,7805.32821,1000.0,6000.0,10000.0,17000.0,35000.0
Amount.Funded.By.Investors,2490.0,NaN,NaN,NaN,12003.949032,7747.081905,-0.01,6000.0,10000.0,16000.0,35000.0
Interest.Rate,2490.0,NaN,NaN,NaN,13.070365,4.176635,5.42,10.16,13.11,15.8,24.89
Loan.Purpose,2490,14,debt_consolidation,1302,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Debt.To.Income.Ratio,2490,1664,0%,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State,2490,46,CA,431,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Home.Ownership,2490,4,MORTGAGE,1144,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Monthly.Income,2490.0,NaN,NaN,NaN,5684.771297,3965.071448,588.5,3469.2025,5000.0,6800.0,102750.0
FICO.Range,2490,38,670-674,170,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Open.CREDIT.Lines,2490.0,NaN,NaN,NaN,10.073494,4.508532,2.0,7.0,9.0,13.0,38.0
Revolving.CREDIT.Balance,2490.0,NaN,NaN,NaN,15217.664659,18294.502478,0.0,5562.75,10938.0,18888.75,270800.0
Inquiries.in.the.Last.6.Months,2490.0,NaN,NaN,NaN,0.905622,1.231504,0.0,0.0,0.0,1.0,9.0
Loan.Length.Month,2490.0,NaN,NaN,NaN,41.281928,9.945211,36.0,36.0,36.0,36.0,60.0

In [24]:
def check_normality(data):
    test_stat_normality, p_value_normality=stats.shapiro(data)
    print("p value:%.4f" % p_value_normality)
    if p_value_normality <0.05:
        print("Reject null hypothesis >> The data is not normally distributed")
    else:
        print("Fail to reject null hypothesis >> The data is normally distributed")

In [25]:
def check_variance_homogeneity(group1, group2):
    test_stat_var, p_value_var= stats.levene(group1,group2)
    print("p value:%.4f" % p_value_var)
    if p_value_var <0.05:
        print("Reject null hypothesis >> The variances of the samples are different.")
    else:
        print("Fail to reject null hypothesis >> The variances of the samples are same.")

# a. Interest rate is varied for different loan amounts (Less interest charged for high loan amounts)

### 1. Defining Hypothesis
Conduct the hypothesis testing to check whether the Less interest charged for high loan amounts. We expect interest to decrease as loan amounts increase.This means that we are making a directional hypothesis. It also means we expect to find a negative value of ρ, because that would indicate a negative relationship between interest and loan amount. So here are our hypotheses:  
#### H0:ρ > = 0 (No relation between interest charged and loan amounts) 
#### H1:ρ < 0 (There is relationship between interest charged and loan amounts)

We're making our predictions as a comparison with 0, because 0 would indicate no relationship. We'll use our conventional α = 0.05.

### 2. Assumption Check

For checking normality,Shapiro-Wilk’s W test, for checking variance Levene’s test.  

    H₀: The data is normally distributed.
    H₁: The data is not normally distributed.
    
Assume that alpha=0.05 If p-value is >0.05, it can be said that data is normally distributed.

In [26]:
check_normality(loan_data['Interest.Rate'])
check_normality(loan_data['Amount.Requested'])

p value:0.0000
Reject null hypothesis >> The data is not normally distributed
p value:0.0000
Reject null hypothesis >> The data is not normally distributed

For checking variance,  
    H₀: The variances of the samples are the same.
    H₁: The variances of the samples are different.

It tests the null hypothesis that the population variances are equal (called homogeneity of variance or homoscedasticity). If the resulting p-value of Levene's test is less than some significance level (typically 0.05), the obtained differences in sample variances are unlikely to have occurred based on random sampling from a population with equal variances

In [27]:
check_variance_homogeneity(loan_data['Interest.Rate'], loan_data['Amount.Requested'])

p value:0.0000
Reject null hypothesis >> The variances of the samples are different.

### 3. Selecting the Proper Test 

Since, we have to show the relationship. We will use Pearson’s Correlation. Tests whether two samples have a linear relationship.

Assumptions

    •	Observations in each sample are independent and identically distributed (iid).
    •	Observations in each sample are normally distributed.
    •	Observations in each sample have the same variance.

In [28]:
stats.pearsonr(loan_data['Interest.Rate'], loan_data['Amount.Requested'])

(0.330828946065706, 1.1461325860248593e-64)

In [29]:
ttest,p_value = stats.ttest_ind(loan_data['Interest.Rate'], loan_data['Amount.Requested'])
print("p value:%.8f" % p_value)
print("since the hypothesis is one sided >> use p_value/2 >> p_value_one_sided:%.4f" %(p_value/2))
if p_value/2 <0.05:
    print("Reject null hypothesis")
else:
    print("Fail to reject null hypothesis")

p value:0.00000000
since the hypothesis is one sided >> use p_value/2 >> p_value_one_sided:0.0000
Reject null hypothesis

In [30]:
stats.ttest_ind(loan_data['Interest.Rate'], loan_data['Amount.Requested'])

Ttest_indResult(statistic=-79.24757768876712, pvalue=0.0)

### 4. Decision and Conclusion

The test result shows the pvalue(1.1461325860248593e-64) is less than the significance level (0.05). We reject H0 - No relationship as p-value is very less H1 - There is a relationship among the variables with 95% accuracy. Hence Interest rate is varied for different loan amounts.   

At this significance level, there is enough evidence to conclude that there is a relationship between Interest rate and loan amounts and it can be less interest charged for high loan amounts

# b. Loan length is directly effecting interest rate.

# Method 1

### 1. Defining Hypothesis
Conduct the hypothesis testing to check whether the loan length is directly effecting interest rate. We expect interest rate is directly effecting loan length. So here are our hypotheses:  

#### H0: No relation between Loan length and interest rate.
#### H1: There is relationship between Loan length and interest rate.

We'll use our conventional α = 0.05.

In [31]:
loan_data.columns

Index(['Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate',
       'Loan.Purpose', 'Debt.To.Income.Ratio', 'State', 'Home.Ownership',
       'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months',
       'Loan.Length.Month'],
      dtype='object')

In [32]:
loan_data['Loan.Length.Month'].value_counts()

36.0    1942
60.0     548
Name: Loan.Length.Month, dtype: int64

### 2. Distributing Data

In [33]:
loan_length_36= loan_data['Interest.Rate'].loc[loan_data['Loan.Length.Month']==36]
loan_length_60= loan_data['Interest.Rate'].loc[loan_data['Loan.Length.Month']==60]

In [34]:
print("The average interest rate of loan length 36 month is %{}".format(loan_length_36.mean()))

print("The average interest rate of loan length 60 month is %{}".format(loan_length_60.mean()))

The average interest rate of loan length 36 month is %12.128692070031004
The average interest rate of loan length 60 month is %16.40746350364961

On average, customers who received the 60 month loan length charged about 16% interest rate which is 4% more than the 36 month loan length.

### 3. Selecting the Unpaired Student’s t-test

In [35]:
eq_var = stats.ttest_ind(a= loan_length_36, b= loan_length_60, equal_var=True)    # equal variance
eq_var.statistic

-23.386783183622235

In [36]:
uneq_var = stats.ttest_ind(a=loan_length_36, b= loan_length_60, equal_var=False)    # UnEqual variance
uneq_var.statistic

-21.933848955574984

In [37]:
uneq_var.statistic - eq_var.statistic

1.4529342280472513

In [38]:
t = eq_var.statistic

p = eq_var.pvalue

print(" For the above test, the t-score is {} and the p-value is {}".format(t,p))

if(p<0.05):
    print('We reject null hypothesis')
else:
    print('We fail to reject null hypothesis')

 For the above test, the t-score is -23.386783183622235 and the p-value is 1.652447884427493e-109
We reject null hypothesis

### 4. Decision and Conclusion

The test result shows the pvalue(1.652447884427493e-109) is less than the significance level (0.05). We reject H0 hypothesis Loan length is directly effecting interest rate.

# Method 2

### 1. Defining Hypothesis
Conduct the hypothesis testing to check whether the loan length is directly effecting interest rate. We expect interest rate is directly effecting loan length. So here are our hypotheses:  

#### H0: No relation between Loan length and interest rate.
#### H1: There is relationship between Loan length and interest rate.

We'll use our conventional α = 0.05.

### 2. Assumption Check

    H₀: The data is normally distributed.
    H₁: The data is not normally distributed.

    H₀: The variances of the samples are the same.
    H₁: The variances of the samples are different.

In [39]:
check_normality(loan_length_36)
check_normality(loan_length_60)

p value:0.0000
Reject null hypothesis >> The data is not normally distributed
p value:0.0000
Reject null hypothesis >> The data is not normally distributed

In [40]:
stat, pvalue_levene= stats.levene(loan_length_36,loan_length_60)

print("p value:%.4f" % pvalue_levene)
if pvalue_levene <0.05:
    print("Reject null hypothesis >> The variances of the samples are different.")
else:
    print("Fail to reject null hypothesis >> The variances of the samples are same.")

p value:0.0001
Reject null hypothesis >> The variances of the samples are different.

### 3. Selecting the Proper Test

In [41]:
F, p_value = stats.f_oneway(loan_length_36,loan_length_60)
print("p value:%.6f" % p_value)
if p_value <0.05:
    print("Reject null hypothesis")
else:
    print("Fail to reject null hypothesis")

p value:0.000000
Reject null hypothesis

### 4. Decision and Conclusion

The test result shows the pvalue is less than the significance level (0.05). We reject H0 hypothesis Loan length is directly effecting interest rate.

# c. Interest rate varies for different purpose of loans

### 1. Defining Hypothesis
Conduct the hypothesis testing to check whether the Interest rate varies for different purpose of loans. 
So here are our hypotheses:

#### H0: The mean of the samples is the same.
#### H1: At least one of them is different.

The performance of the methods by using a 0.05 significance level. the hypothesis testing to check whether there is a difference between the performance of the methods by using a 0.05 significance level.

In [42]:
loan_data

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Loan.Length.Month
0,20000.0,20000.00,8.90,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,36.0
1,19200.0,19200.00,12.12,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,36.0
2,35000.0,35000.00,21.98,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,60.0
3,10000.0,9975.00,9.99,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,36.0
4,12000.0,12000.00,11.71,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,30000.0,29950.00,16.77,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15.0,45880.0,1.0,60.0
2496,16000.0,16000.00,14.09,home_improvement,21.54%,MD,OWN,8903.25,740-744,18.0,18898.0,1.0,60.0
2497,10000.0,10000.00,13.99,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4.0,4544.0,0.0,36.0
2498,6000.0,6000.00,12.42,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8.0,7753.0,0.0,36.0
2499,9000.0,5242.75,13.79,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7.0,7589.0,0.0,36.0

In [43]:
loan_data_obs = pd.crosstab( loan_data['Interest.Rate'], loan_data['Loan.Purpose'] )

In [44]:
loan_data_obs.T

Interest.Rate,5.42,5.79,5.99,6.00,6.03,6.17,6.54,6.62,6.76,6.91,...,23.28,23.33,23.63,23.76,23.83,23.91,24.20,24.33,24.70,24.89
Loan.Purpose,,,,,,,,,,,,,,,,,,,,,
car,0,1,0,0,3,0,0,3,0,1,...,0,0,0,0,0,0,0,0,0,0
credit_card,2,2,1,0,7,0,1,11,0,1,...,1,0,0,1,0,0,0,0,1,0
debt_consolidation,0,5,4,0,24,1,3,24,2,5,...,3,1,1,5,2,1,1,1,1,1
educational,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
home_improvement,5,2,3,1,5,1,1,4,0,0,...,0,0,0,0,0,0,0,0,0,0
house,0,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
major_purchase,1,1,1,0,6,2,0,2,0,1,...,0,0,0,0,0,0,0,0,0,0
medical,1,0,0,0,2,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
moving,0,1,0,0,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
other,0,1,0,0,4,0,0,1,0,0,...,2,0,0,0,0,0,0,0,0,0
renewable_energy,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
small_business,0,1,0,0,4,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
vacation,1,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
wedding,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

### 2. Selecting the Proper Test

In [45]:
stats.chi2_contingency( loan_data_obs.T )

(4366.428957867566,
 1.776058140316001e-20,
 3536,
 array([[0.22088353, 0.2811245 , 0.20080321, ..., 0.02008032, 0.04016064,
         0.04016064],
        [1.95702811, 2.49076305, 1.77911647, ..., 0.17791165, 0.35582329,
         0.35582329],
        [5.75180723, 7.32048193, 5.22891566, ..., 0.52289157, 1.04578313,
         1.04578313],
        ...,
        [0.37991968, 0.48353414, 0.34538153, ..., 0.03453815, 0.06907631,
         0.06907631],
        [0.09277108, 0.11807229, 0.08433735, ..., 0.00843373, 0.01686747,
         0.01686747],
        [0.16787149, 0.21365462, 0.15261044, ..., 0.01526104, 0.03052209,
         0.03052209]]))

In [46]:
test_stat,p_value,dof, ex = stats.chi2_contingency( loan_data_obs.T )
print("p value:%.17f" % p_value)
if p_value <0.05:
    print("Reject null hypothesis")
else:
    print("Fail to reject null hypothesis")

p value:0.00000000000000000
Reject null hypothesis

### 3.Decision and Conclusion

The test result shows the pvalue is less than the significance level (0.05). We reject the H0 Hypothesis Interest rate varies for different purpose of loans as p- value is very low.

# d. There is relationship between FICO scores and Home Ownership. It means that, People with owning home will have high FICO scores.

### 1. Defining Hypothesis
Conduct the hypothesis testing to check whether there is relationship between FICO scores and Home Ownership. It means that, People with owning home will have high FICO scores. 
So here are our hypotheses:

#### H0: The mean of the samples is the same. No relationship.
#### H1: At least one of them is different. There is relationship.

The performance of the methods by using a 0.05 significance level. the hypothesis testing to check whether there is a difference between the performance of the methods by using a 0.05 significance level.

In [47]:
loan_data.columns

Index(['Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate',
       'Loan.Purpose', 'Debt.To.Income.Ratio', 'State', 'Home.Ownership',
       'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months',
       'Loan.Length.Month'],
      dtype='object')

In [48]:
loan_data_fico= pd.crosstab(loan_data['Home.Ownership'],loan_data['FICO.Range'])

In [49]:
loan_data_fico

FICO.Range,640-644,645-649,650-654,655-659,660-664,665-669,670-674,675-679,680-684,685-689,...,780-784,785-789,790-794,795-799,800-804,805-809,810-814,815-819,820-824,830-834
Home.Ownership,,,,,,,,,,,,,,,,,,,,,
MORTGAGE,0,1,1,0,41,52,67,79,55,61,...,21,12,15,7,7,6,5,6,0,1
OTHER,0,0,0,1,0,0,1,1,2,0,...,0,0,0,0,0,0,0,0,0,0
OWN,1,0,0,0,17,18,13,11,9,10,...,3,2,1,1,3,2,1,0,1,0
RENT,4,2,0,3,66,75,89,75,91,64,...,4,5,4,5,2,3,2,0,0,0

### 2. Selecting the Proper Test

In [50]:
stats.chi2_contingency( loan_data_fico )

(281.5115487692492,
 8.690818021087272e-17,
 111,
 array([[2.29718876e+00, 1.37831325e+00, 4.59437751e-01, 1.83775100e+00,
         5.69702811e+01, 6.66184739e+01, 7.81044177e+01, 7.62666667e+01,
         7.21317269e+01, 6.20240964e+01, 6.38618474e+01, 7.02939759e+01,
         6.01863454e+01, 6.15646586e+01, 5.09975904e+01, 4.27277108e+01,
         5.14570281e+01, 4.31871486e+01, 4.31871486e+01, 2.98634538e+01,
         2.43502008e+01, 2.48096386e+01, 2.80257028e+01, 2.11341365e+01,
         2.11341365e+01, 1.65397590e+01, 7.81044177e+00, 1.01076305e+01,
         1.28642570e+01, 8.72931727e+00, 9.18875502e+00, 5.97269076e+00,
         5.51325301e+00, 5.05381526e+00, 3.67550201e+00, 2.75662651e+00,
         4.59437751e-01, 4.59437751e-01],
        [1.00401606e-02, 6.02409639e-03, 2.00803213e-03, 8.03212851e-03,
         2.48995984e-01, 2.91164659e-01, 3.41365462e-01, 3.33333333e-01,
         3.15261044e-01, 2.71084337e-01, 2.79116466e-01, 3.07228916e-01,
         2.63052209e-01, 2.69076305e-01, 2.22891566e-01, 1.86746988e-01,
         2.24899598e-01, 1.88755020e-01, 1.88755020e-01, 1.30522088e-01,
         1.06425703e-01, 1.08433735e-01, 1.22489960e-01, 9.23694779e-02,
         9.23694779e-02, 7.22891566e-02, 3.41365462e-02, 4.41767068e-02,
         5.62248996e-02, 3.81526104e-02, 4.01606426e-02, 2.61044177e-02,
         2.40963855e-02, 2.20883534e-02, 1.60642570e-02, 1.20481928e-02,
         2.00803213e-03, 2.00803213e-03],
        [4.01606426e-01, 2.40963855e-01, 8.03212851e-02, 3.21285141e-01,
         9.95983936e+00, 1.16465863e+01, 1.36546185e+01, 1.33333333e+01,
         1.26104418e+01, 1.08433735e+01, 1.11646586e+01, 1.22891566e+01,
         1.05220884e+01, 1.07630522e+01, 8.91566265e+00, 7.46987952e+00,
         8.99598394e+00, 7.55020080e+00, 7.55020080e+00, 5.22088353e+00,
         4.25702811e+00, 4.33734940e+00, 4.89959839e+00, 3.69477912e+00,
         3.69477912e+00, 2.89156627e+00, 1.36546185e+00, 1.76706827e+00,
         2.24899598e+00, 1.52610442e+00, 1.60642570e+00, 1.04417671e+00,
         9.63855422e-01, 8.83534137e-01, 6.42570281e-01, 4.81927711e-01,
         8.03212851e-02, 8.03212851e-02],
        [2.29116466e+00, 1.37469880e+00, 4.58232932e-01, 1.83293173e+00,
         5.68208835e+01, 6.64437751e+01, 7.78995984e+01, 7.60666667e+01,
         7.19425703e+01, 6.18614458e+01, 6.36943775e+01, 7.01096386e+01,
         6.00285141e+01, 6.14032129e+01, 5.08638554e+01, 4.26156627e+01,
         5.13220884e+01, 4.30738956e+01, 4.30738956e+01, 2.97851406e+01,
         2.42863454e+01, 2.47445783e+01, 2.79522088e+01, 2.10787149e+01,
         2.10787149e+01, 1.64963855e+01, 7.78995984e+00, 1.00811245e+01,
         1.28305221e+01, 8.70642570e+00, 9.16465863e+00, 5.95702811e+00,
         5.49879518e+00, 5.04056225e+00, 3.66586345e+00, 2.74939759e+00,
         4.58232932e-01, 4.58232932e-01]]))

In [51]:
test_stat2,p_value2,dof2, ex2 = stats.chi2_contingency( loan_data_fico )
print("p value:%.17f" % p_value2)
if p_value <0.05:
    print("Reject null hypothesis")
else:
    print("Fail to reject null hypothesis")

p value:0.00000000000000009
Reject null hypothesis

### 3. Decision and Conclusion
The test result shows the pvalue is less than the significance level (0.05). We reject the H0 Hypothesis There is relationship between FICO scores and Home Ownership. It means that, People with owning home will have high FICO scores. as p- value is very low